<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CPU_and_MEM_Monitor</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <script src="static/js/echarts.min.js"></script>
</head>

<body>
    <div id="CPU1" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
    <div id="CPU2" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
    <script type="text/javascript">

    var time = ["","","","","","","","","",""],
        cpu1 = [0,0,0,0,0,0,0,0,0,0],
        cpu2 = [0,0,0,0,0,0,0,0,0,0]

    var CPU1 = echarts.init(document.getElementById('CPU1'));
    CPU1.setOption({
        title: {
            text: 'CPU1'
        },
        tooltip: {},
        legend: {
            data:['cpu1']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: 'cpu1',
            type: 'line',
            data: []
        }]
    });


    var update_CPU1 = function (res) { //res是json格式的response对象

        CPU1.hideLoading();

        time.push(res.data[0]);
        cpu1.push(parseFloat(res.data[1]));
        if (time.length >= 10){
            time.shift();
            cpu1.shift();
        }

        CPU1.setOption({
            xAxis: {
                data: time
            },
            series: [{
                name: 'cpu1',
                data: cpu1
            }]
        });

    };

    var CPU2 = echarts.init(document.getElementById('CPU2'));
    CPU2.setOption({
        title: {
            text: 'CPU2'
        },
        tooltip: {},
        legend: {
            data:['cpu2']
        },
        toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
        calculable : true,
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: 'cpu2',
            type: 'line',
            smooth:true,
            itemStyle: {normal: {areaStyle: {type: 'default'}}},
            data: []
        }]
    });
    var update_CPU2 = function (res) {
        CPU2.hideLoading();

        time.push(res.data[0]);
        cpu2.push(parseFloat(res.data[2]));
        if (time.length >= 10){
            time.shift();
            cpu2.shift();
        }

        CPU2.setOption({
            xAxis: {
                data: time
            },
            series: [{
                name: 'cpu2',
                data: cpu2
            }]
        });

    };


    $(document).ready(function() {
        namespace = '/test';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.on('server_response', function(res) {
            console.log(res);
            update_CPU1(res);
            update_CPU2(res);
        });

    });

    </script>
</body>
</html>
